.example-container {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    margin-top:55px;
    }
.siden
{       
  box-shadow: 1px 0px 2px 1px rgb(128, 121, 121);
  background-color: rgb(255, 255, 255);
      }
    .side{
      padding-right:0px;
      padding-left:0px;
    }
    .side_item{
      margin:7px;
      padding: 0px 20px 0px 20px;
      box-shadow:0px 1px 3px 1px red;
      border:1px solid rgb(94, 3, 3);
      border-radius: 2px;
      background-color: rgb(133, 13, 13);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      color:rgb(255, 255, 255);
      list-style-type: none;
    } 
  .nav-link{
    color:white;
  }
  .owner-layout{
    position:inherit;
    display: inherit;
  }