.navbar{
    vertical-align: top;
    background:white;
    box-shadow: 0px 1px 5px 0px rgb(43, 7, 7);
} 

.navbar-brand {
  font-size:15px;
    background-color: rgba(255, 255, 255, 0.993);
   color:rgb(34, 0, 0);
  }
 .active{
color:red;
 }
 .Dash{
   color:green;

 }
 .set{
   color:orange;
 }