<mat-sidenav-container class="example-container" *ngIf="shouldRun">
     <mat-sidenav class= "siden" #sidenav mode="side" opened>
      
     <ul class="side">
          <li class="side_item" *ngFor="let i of j">
       {{i}}
          </li>
        </ul>
  
        </mat-sidenav>
      
        <mat-sidenav-content>
        
          <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
        
          </mat-sidenav-content>
      </mat-sidenav-container>
      
      <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
      
      
      <!-- Copyright 2018 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->