<mdb-sidenav #sidenav class="sn-bg-1 fixed" [fixed]="true">

    <logo>
        <li>
            <div class="logo-wrapper waves-light">
                <a href="#">
                    <img src="http://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center">
                </a>
            </div>
        </li>
        <!--/. Logo -->
    </logo>

    <links>
        <!--Social-->
        <li>
            <ul class="social">
                <li>
                    <a class="icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>
                </li>
                <li>
                    <a class="icons-sm pin-ic">
                        <i class="fa fa-pinterest"> </i>
                    </a>
                </li>
                <li>
                    <a class="icons-sm gplus-ic">
                        <i class="fa fa-google-plus"> </i>
                    </a>
                </li>
                <li>
                    <a class="icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                </li>
            </ul>
        </li>
        <!--/Social-->
        <!--Search Form-->
        <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light" mdbWavesEffect>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                    <!-- Collapsible link -->
                    <mdb-item>
                        <mdb-item-head mdbWavesEffect>
                            <i class="fa fa-chevron-right"></i> Collapsible menu</mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect" mdbWavesEffect>Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect" mdbWavesEffect>Link 2</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>

                    <!-- Simple link -->
                    <mdb-item class="no-collase">
                        <mdb-item-head mdbWavesEffect>
                            <i class="fa fa-hand-pointer-o"></i> Simple link</mdb-item-head>
                        <mdb-item-body></mdb-item-body>
                    </mdb-item>

                    <!-- Collapsible link -->
                    <mdb-item>
                        <mdb-item-head mdbWavesEffect>
                            <i class="fa fa-eye"></i> Collapsible menu 2</mdb-item-head>
                        <mdb-item-body>
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect" mdbWavesEffect>Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect" mdbWavesEffect>Link 2</a>
                                </li>
                            </ul>
                        </mdb-item-body>
                    </mdb-item>

                    <!-- Simple link -->
                    <mdb-item class="no-collase">
                        <mdb-item-head mdbWavesEffect>
                            <i class="fa fa-diamond"></i> Simple link 2</mdb-item-head>
                        <mdb-item-body></mdb-item-body>
                    </mdb-item>

                </mdb-squeezebox>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
</mdb-sidenav>
<!--/. Sidebar navigation -->
