.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  table {
    width: 100%;
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }