<!-- Register form -->
<form [formGroup]="registerForm">
  <p class="h5 text-center mb-4">Sign up</p>

  <div class="md-form">
    <i class="fa fa-user prefix grey-text"></i>
    <input type="text" formControlName="orangeFormName" id="orangeForm-name" class="form-control" mdbInputDirective>
    <label for="orangeForm-name">Your name</label>
  </div>
  <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="text" formControlName="orangeFormEmail" id="orangeForm-email" class="form-control" mdbInputDirective>
    <label for="orangeForm-email">Your email</label>
  </div>

  <div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" formControlName="orangeFormPass" id="orangeForm-pass" class="form-control" mdbInputDirective>
    <label for="orangeForm-pass">Your password</label>
  </div>

  <div class="text-center">
    <input class="btn btn-deep-orange waves-light" value="Sign up" mdbWavesEffect>
  </div>
</form>
<!-- Register form -->
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
<br>
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>